

        ul {
            color: green;
        }
        .li1 {

            color: red;
        }
        .li2 {

            color: green;
        }
        .li3 {

            color: blue;
        }