
        h1 {color:red; 
            font-size: 32px;
        }

            p {color: blue;
                font-size: 16px;
            }

            ul {color: green;
            }

        ul {
            color: green;
        }
        .li1 {

            color: red;
        }
        .li2 {

            color: green;
        }
        .li3 {

            color: blue;
        }